body, html {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9%;
}

/* Header and Navigation Bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
}

#logo {
  height: 50px;
  padding: 10px;
}

nav {
  display: inline-block;
}

nav span a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9%;
  text-decoration: underline;
  padding: 0 10px;
}

/* Main Body of the Website */
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  width: 100%;
}

#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../css/resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

#mission-statement {
  background-color: black;
  width: 1200px;
}
