body, html {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9%;
}

/* Header and Navigation Bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
}

#logo {
  height: 50px;
  padding: 10px;
}

nav {
  display: inline-block;
}

nav span a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9%;
  text-decoration: underline;
  padding: 0 10px;
}

/* Main Body of the Website */
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 15px;
}

#mission, #featured-tea, #locations {
  padding-top: 70px;
}

/* First Section */
#mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../css/resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission-statement {
  background-color: black;
  width: 1200px;
}

/* Second Sections */
#feature-tea-content {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  width: 1000px;
}

.tea img {
  height: 200px;
  width: 300px;
  padding: 15px 15px 0 15px;
}

/* Third Section */
#locations {
  background-image: url(../css/resources/images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  text-align: center;
  margin-top: 80px;
}

#locations-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 300px;
  margin: 0 20px;
}

/* Contact Section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
}

h5 {
  margin: 15px;
}

/* Footer */
footer p {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}
